.addPostBtn {
  width: fit-content;
  justify-content: end;
  background-color: var(--main-color);
  color: var(--text-light);
  left: 5%;
  bottom: 5%;
  padding: 5px 15px;
  font-size: 1.2em;
  font-weight: bold;
  z-index: 2;
}
.addPostBtn:hover {
  background-color: var(--secondary-color);
  color: var(--text-light);
}
.add-post .modal-header .btn-close {
  position: absolute;
  left: 0;
  top: 10px;
}
.add-post .avatar-holder img {
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.add-post .post-btn {
  background-color: var(--secondary-color);
  color: var(--text-light);
}
.add-post .post-btn:hover {
  background-color: var(--main-color);
}
