.signup-page {
  padding: 50px 0;
}
.signup-page .container {
  display: flex;
  justify-content: center;
}
.signup-page .signup-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: var(--text-light);
  gap: 15px;
  align-items: center;
  min-height: 400px;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0px 10px -5px var(--text-color);
}
@media (max-width: 767px) {
  .signup-page .signup-form {
    gap: 25px;
    width: 75%;
  }
}

.signup-page .signup-form .form-head {
  text-align: center;
  font-weight: 700;
  font-size: 1.4em;
  opacity: 0.5;
  pointer-events: none;
}
