#hero-section {
  position: relative;
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  margin: 0;
  overflow: hidden;
}
#hero-section .img-holder {
  background-image: url("https://th.bing.com/th/id/OIG.8wTv5SAx6vBoPPRa5jLt?pid=ImgGn");
  filter: blur(4px);
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  -webkit-filter: blur(4px);
}
#hero-section .img-holder img {
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}
#hero-section .hero-heading {
  background-color: var(--main-color);
  padding: 50px;
  border-bottom-left-radius: 15px;
  color: var(--text-light);
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  #hero-section .hero-heading {
    align-items: center;
  }
}
#hero-section .hero-heading img {
  max-width: 150px;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  #hero-section .hero-heading {
    width: 75%;
  }
}
@media (max-width: 767px) {
  #hero-section .hero-heading {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
