.account-type {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}
.account-type button {
  background: linear-gradient(
    to right,
    var(--main-color),
    var(--secondary-color)
  );
  color: var(--text-light);
  padding: 25px;
  width: 80%;
}
.account-type button:hover {
  opacity: 0.8;
}
