:root {
  --main-color: #103057;
  --secondary-color: #49627f;
  --text-color: #222;
  --text-light: #fff;
  --background-color: #eee;

  --main-transition: all 0.2s ease;
}
body {
  background-color: var(--background-color);
}
* {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
section {
  margin-top: 15px;
  margin-bottom: 15px;
}
