div.navbar {
  background-color: var(--main-color);
  padding: 20px 0;
}
div.navbar .navbar-brand {
  padding: 0;
}
#logo {
  width: 60px;
  padding: 0;
}
.signing {
  display: flex;
  gap: 15px;
}
.signing a {
  color: var(--text-light);
  text-align: center;
  font-size: 1.2em;
}
.signing a:hover {
  opacity: 0.8;
}
